@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	p {
		@apply text-pretty;
	}

	#root {
		@apply min-h-[100dvh] max-w-[100dvw];
	}

	th {
		@apply px-6 py-2 font-semibold text-zinc-600;
	}

	th:first-of-type {
		@apply min-w-[200px] border-r-4 border-zinc-200 !important;
	}

	th:not(:empty) {
		@apply min-w-[125px];
	}

	th:empty {
		@apply min-w-[50px];
	}

	tbody th,
	thead th:first-of-type {
		@apply sticky left-0 whitespace-nowrap bg-zinc-100 pl-6 pr-8 text-left;
	}

	thead {
		tr:first-of-type th,
		#participants {
			@apply text-left font-semibold text-zinc-300;
		}

		& tr th:not(:last-of-type) {
			@apply border-r-[1px] border-zinc-200;
		}
		& tr th:not(#empty-th) {
			@apply border-b-[1px] border-zinc-200;
		}
	}

	tbody {
		tr:not(:last-of-type) th {
			@apply border-b-[1px] border-zinc-200;
		}

		td:not(:last-of-type) {
			@apply border-r-[1px] border-zinc-200;
		}

		td {
			@apply border-b-[1px] border-zinc-200;
		}

		th {
			@apply min-w-[200px] text-left;
		}

		td:not(:empty) {
			@apply p-2 text-center;
		}
	}
}
