@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	p {
		@apply text-pretty;
	}

	#root {
		@apply min-h-[100dvh] max-w-[100dvw] bg-white;
	}

	th {
		@apply bg-zinc-50 px-4 py-2 text-sm font-semibold text-zinc-600;
	}

	th:first-of-type {
		@apply border-r-4 border-zinc-100 !important;
	}

	th:empty {
		@apply min-w-[25px];
	}

	tbody th {
		@apply sticky left-0 whitespace-nowrap bg-white pl-3 pr-6 text-left;
	}

	thead {
		@apply sticky top-0 z-10 bg-zinc-100;
	}

	thead th:first-of-type {
		@apply sticky left-0 top-0;
	}

	thead {
		tr:first-of-type th,
		#participants {
			@apply text-left font-semibold text-zinc-300;
		}

		th {
			@apply text-nowrap;
		}

		tr th:not(:last-of-type) {
			@apply border-r-[1px] border-zinc-200;
		}
		th:not(#empty-th) {
			@apply border-b-[1px] border-zinc-200;
		}
	}

	tbody {
		th {
			@apply border-b-[1px] border-zinc-200;
		}

		td:not(:last-of-type) {
			@apply border-r-[1px] border-zinc-200;
		}

		td {
			@apply border-b-[1px] border-zinc-200;
		}

		th {
			@apply min-w-[200px] text-left;
		}

		td:not(:empty) {
			@apply p-2 text-center;
		}
	}

	::-webkit-scrollbar {
		@apply h-2 w-2;
	}

	::-webkit-scrollbar-track {
		@apply rounded-md  bg-zinc-100;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-md bg-zinc-400;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-zinc-400;
	}
}
